body {
    background-color: dodgerblue;
    font-family: Geneva, Arial, sans-serif;
    color: white;
}

h1 {
    color: azure;
    background-color: tomato;
    font-size: 30px;
    border: 2px solid white;
    padding: 15px 0;
    margin: 10px;
    text-align: center;
}

h2 {
    color: rgb(50, 50, 50);
    border-bottom: 2px solid white;
}

p {
    font-size: 16px;
    border: 2px solid aqua;
    padding: 10px;
    margin: 10px;
}